@use "tailwindcss/base" as *;
@use "tailwindcss/components" as *;
@use "tailwindcss/utilities" as *;
@use "./button";
@use "./typography";
@use "./colors";

.whitebg {
  background-color: $white;
}

body {
  background-color: $white;
  color: $black;
}
